.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 50px 50px;
    overflow: auto;
}

footer {
    height: 50px;
}

.workshop {
    width: 285px;
    margin: 10px;
    padding: 20px 10px;
    color: white;
    background-color: black;
    border-radius: 20px;
}


button {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

li {
    font-family: 'Karla', sans-serif;
    width: fit-content;
    margin: 2px;
    font-size: .8rem;
    line-height: 15px;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: rgb(164, 250, 222);
}

li:hover {
    /* background-color: rgb(164, 250, 222);
    color: black; */
    cursor: pointer;
    color: white;
    text-decoration: line-through;
    /* text-transform: uppercase; */
}

h2 {
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 45px;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.465);
}

#btn {
    text-align: center;
    margin: 20px;
}

#add-participant {
    background-color: rgb(164, 250, 222);
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
}

#add-participant:hover {
    opacity: .5;
    cursor: pointer;
}


