body {
    font-family: 'Montserrat Subrayada', sans-serif;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.465);
}

#new-participant {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: black;
    color: white;
    /* height: 300px; */
    margin: 50px;
    padding: 30px;
    font-size: 1.2rem;
    border-radius: 40px;
}

label {
    margin: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

input {
    padding: 5px;
    font-family: 'Karla', sans-serif;
    border: none;
    border-radius: 5px;
}

select {
    /* width: fit-content; */
    font-family: 'Karla', sans-serif;
    padding: 5px;
    font-size: 1.1rem;
    margin: 15px;
    border: none;
}

button {
    background-color: rgb(164, 250, 222);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    text-transform: uppercase;
    margin: 50px;
}

button:hover {
    opacity: .5;
    cursor: pointer;
}

#back {
    margin-top: 20px;
}