/* add home page styles here */

label {
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    margin: 10px 0;
}

input {
    border: none;
    padding: 5px;
    font-family: 'Karla', sans-serif;
}

button {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(164, 250, 222);
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    opacity: .5;
}

h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.465);
}

.auth-container {
    background-color: black;
    color: white;
    padding: 20px 50px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.45);
    width: 350px;
}

h3 {
    font-size: 2rem;
}

img {
   
    margin-left: 10px;
}